<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Books Homepage - Welcome to My Book Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Book Store</h1>
</header>

<main>
    <h2>Choose book:</h2>
    <form method ="GET">
        <label>Search book: </label>
        <input th:type="text" name="searchedBookName">
        <input type="submit" value="Submit">
    </form>
    <form method="POST" action="/listBooks">

        <ul th:each="book : ${books}">
        <input type="radio" name="bookIsbn" th:value="${book.getIsbn()}" th:text="'Title: ' + ${book.getTitle()}+', Genre: '+${book.getGenre()}+', Year: '+${book.getYear()}"><br>
    </ul>

    <input type='submit' value='Submit'>
    </form>
</main>
</body>
</html>